body {
	height: 100%;
	min-height: 100%;
}

article {
	height: 100%;
}

.page {
	margin: auto;
}

#logo {
	font-size: 3em;
}

#logo small {
	font-size: 40%;
}

.padded {
	padding: 4% 0%;
}

.videos {
	padding-top: 1%;
}

.tile {
	float: right;
}

.tile > div.brand p.text {
	position: relative;
	left: 2%;
	right: auto;
	top: auto;
	bottom: auto;
	margin-top: 3%;
	margin-left: 4%;
}

.tile.larger {
	width: 200px;
	height: 200px;
}

#searchSpan {
	float: right;
}

#search .input-control {
	margin-left: 40px; 
	width: 200px;
}

.video-play {
	padding: 50px;
	opacity: 0.9;
}

#player {
	margin-bottom: 3%;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}